<mat-toolbar class="transparent">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">

  <span></span>
    <div class="spacer"></div>
 
</div>

<div class="toolbar" role="banner">

  <span></span>
    <div class="spacer"></div>

</div> -->

<div class="content" role="main">
</div>

<div class="content">
</div>
<booking-component #booking>

</booking-component>
