<mat-card>
     <mat-card-content>

   
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Flights">
        <div class="example-small-box mat-elevation-z4">
          flights
        </div>
      </mat-tab>
      <mat-tab label="Hotels">
        <div class="example-large-box mat-elevation-z4">
          hotels
        </div>
      </mat-tab>
      <mat-tab label="Flights+Hotels">
        <div class="example-large-box mat-elevation-z4">
          fl hotels
        </div>
      </mat-tab>
      <mat-tab label="Holidays">
        <div class="example-large-box mat-elevation-z4">
          LHolidays
        </div>
      </mat-tab>
  </mat-tab-group>
</mat-card-content>
  </mat-card>
